.App {
  text-align: center;
}

.App-header { 
  height: 70px;
  color: rgb(37, 35, 60);
  background-color: #282c34;
}

.App-body{
 position:absolute;
  bottom: 0px;
  top: 70px;
  width: 1920px;
  background-color: #829bce;
  background: url(../assets/dune-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

.bandeau{
  position:absolute;
  background: linear-gradient(90deg, rgb(69, 0, 158) 28%, rgba(111, 0, 255, 0.377) 100%);
  bottom: 0px;
  top: 0px;
  width: 500px;
 
  font-size: 100px;

}

.text1{
  position: absolute;
  text-align: center;
  font-size: 100px;
  top: 150px;
  left: 150px;
  color: azure;
}

.text2{
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 300px;
  left: 0px;
  border-left: 80px solid transparent;
  color: azure;
  
}

.description{
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  position: absolute;
  text-align: start;
  font-size: 20px;
  top: 350px;
  left: 0px;
  color: azure;
}

.logo{
  position:absolute;
  font-size: 30px;
  color: azure;
  font-weight: bold;
  left: 50px;
  top: 10px;
}

.menu{
  position:absolute;
  font-size: 20px;
  color: azure;
  left: 150px;
  display: inline-block;
}

.films{
position:absolute;
left: 200px;
display: inline-block;

}

.favoris{
  position:absolute;
left: 300px;
display: inline-block;

}

.btn-grad {background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)}
.btn-grad {
  position: absolute;
   margin: 200px;
   padding: 10px 30px;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   bottom: 60px;
   font-size: 15px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .button{
	width: 50px;
	height: 50px;
  top: 18%;
  position: fixed;
	left: 23%;
	margin-top: -45px;
	margin-left: -50px;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}

#heart {
  width: 100px;
  height: 90px;
  transition: background 0.5s ease;
}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 20px;
    top: 0;
    width: 20px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 50px 50px -0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}