.Home {
  display: block;
}

.Carousel{
  position: relative;
  z-index: 9;
  align-self: center;

  
}

.items{
  width: auto;
}

#im1{
 
}

#im2{
 
}

#im3{
  
  
}

.caption{
  text-align: center;
}

.image{
 
  display: flex;
  grid-area: image; 
  justify-content: center;
}

.Home-body{
  position: fixed;
  display: grid; 
  background: url(../assets/dune-image.jpg) no-repeat center center fixed;
  background-size: cover;
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "bandeau image"; 
 
  height: 100%;
  width: 100%;
  z-index: 1;
  
}

.bandeau{
  position:relative;
  grid-area: bandeau;
  background: linear-gradient(90deg, rgb(69, 0, 158) 28%, rgba(111, 0, 255, 0.377) 100%);
  font-size: 100px;
  
}

.text1{
  position: relative;
  text-align: center;
  font-size: 120px;
  top: 90px;
  left: 0px;
  color: rgb(255, 255, 255);
}

.text2{
  position: relative;
  text-align: center;
  font-size: 20px;
  top: 150px;
  left: -50px;
  border-left: 80px solid transparent;
  color: azure;
  
}

.description{
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  position: relative;
  text-align: start;
  font-size: 20px;
  top: 200px;
  color: azure;
}

.logo{
  
  font-size: 30px;
  color: rgb(27, 163, 163);
  font-weight: bold;
  left: 50px;
  top: 0px;
  z-index: 7;
}


.btn-grad {background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)}
.btn-grad {
  position: relative;
   bottom: -60px;
   left: -50px;
   padding: 10px 150px 10px 40px;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0px 0 14px 4px #eee;
   border-radius: 20px;
   font-size: 15px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 

#heart {
  position: relative;
  width: 50px;
  height: 50px;
  left: 420px;
  top: 140px;
  transition: background 0.5s ease;
}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: -webkit-sticky;
    content: "";
    left: 20px;
    width: 20px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 50px 50px -0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}